.invoice-homepage {
  color: rgb(73, 73, 75);
  font-size: 1em;
  background-color: rgba(201, 213, 226, 0.2);
  font-family: 'Arial Narrow Bold';
  padding: 0 !important;
}

.navbar {
  background-color: #113358 !important;
  padding: 10px 0;
  border-bottom: 2px solid #ffc107;
  margin: 0;
  margin-bottom: 1.2em;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.inner-content-col {
  padding: .9em;
  margin-left: 8%;
  margin-top: 2.3em;
  margin-bottom: 3em;
  border-right: thick double rgba(4, 7, 21, 0.5);
  border-bottom: thick double rgba(4, 7, 21, 0.5);
  border-top: 1px solid rgba(4, 7, 21, 0.5);
  border-left: 1px solid rgba(4, 7, 21, 0.5);
  border-right-style: inset;
  background-color: white;
}

.xssm-display {
  padding: .8em;
  margin: 1em 2em;
  width: 90%;
  border-right: thick double rgba(4, 7, 21, 0.5);
  border-bottom: thick double rgba(4, 7, 21, 0.5);
  border-top: 1px solid rgba(4, 7, 21, 0.5);
  border-left: 1px solid rgba(4, 7, 21, 0.5);
  border-right-style: inset;
  background-color: white;
}

.file-input-col label {
  border: 1px solid #c3d2e3;
  background-color: rgba(214, 207, 207, 0.2);
  border-radius: 2.9px;
  height: 8em;
  width: 13em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .7em 0;
  text-align: center;
}

.file-input-col label:hover {
  background-color: rgba(98, 95, 95, 0.2);
}

.file-input-col-sm label {
  border: 1px solid #c3d2e3;
  background-color: rgba(214, 207, 207, 0.2);
  border-radius: 2.9px;
  height: 4em;
  width: 12em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .7em 0;
  text-align: center;
}

.file-input-col .logo {
  width: 10em;
  height: 7em;
  margin: .3em 0;
}

.invoice-no-div {
  display: flex;
  align-items: center;
  justify-content: end;
}

.invoice-no-col {
  display: flex;
  align-items: center;
  justify-content: start;
}

.invoice-no-div label,
.invoice-no-col label {
  height: 2.2em;
  padding: 0 .5em;
  border-top-left-radius: 2.9px;
  border-bottom-left-radius: 2.9px;
  display: flex;
  align-items: center;
  font-weight: bold;
  border: 1px solid #c3d2e3;
  border-right: 0;
  background-color: rgba(197, 216, 236, 0.2);
}

.invoice-no-div input,
.invoice-no-col input {
  border: 1px solid #c3d2e3;
  border-top-right-radius: 2.9px;
  border-bottom-right-radius: 2.9px;
  height: 2.2em;
  width: 8em;
  text-align: start;
  padding-left: .5em;
  padding-bottom: .2em;
}

.invoice-no-div input:hover,
.invoice-no-col input:hover {
  border: none;
  outline: .01em solid #668ab0;
  border-top-right-radius: 2.9px;
  border-bottom-right-radius: 2.9px;
  height: 2.1em;

}

.invoice-no-div input:focus,
.invoice-no-col input:focus {
  border: none;
  outline: .01em solid #668ab0;
  border-radius: 2.9px;
  height: 2.1em;
}

.custom-input-col .norm-Input-div input {
  border: 1px solid #c3d2e3;
  height: 3.4em;
  width: 100%;
  border-radius: 2.9px;
  text-align: start;
  padding: 0 .4em;
  padding-bottom: 1.8em;
  margin: .5em 0;
}


.custom-input-col .norm-Input-div input:focus {
  border: none;
  outline: .01em solid #668ab0;
  border-radius: 2.9px;
}

.custom-input-col .norm-Input-div input:hover {
  border: none;
  outline: .01em solid #668ab0;
  border-top-right-radius: 2.9px;
  border-bottom-right-radius: 2.9px;

}

.invoice-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-input-div {
  margin: 0 1em;
}

.invoice-data .norm-input-div input {
  border: 1px solid #c3d2e3;
  border-radius: 2.9px;
  margin: .1em 0;
  width: 8em;
  height: 2em;
  padding: 0 .4em;
}

.invoice-data .norm-input-div input:hover {
  border: none;
  outline: .01em solid #668ab0;
  border-top-right-radius: 2.9px;
  border-bottom-right-radius: 2.9px;
}

.invoice-data .norm-input-div input:focus {
  border: none;
  outline: .01em solid #668ab0;
  border-top-right-radius: 2.9px;
  border-bottom-right-radius: 2.9px;
}

.invoice-data-table table {
  margin: .5em 0;
  border: 3px solid #c3d2e3;
  text-align: start;
}

.invoice-data-div {
  margin: .5em 0;
  border: 1px solid #c3d2e3;
  padding: .2em .5em;
  border-radius: 2.9px;
}

.invoice-data-div span {
  margin-right: .4em;
}

.invoice-data-table .table-inputs input {
  margin: .5em 0;
  border: 1px solid #c3d2e3;
  text-align: start;
  border-radius: 2.9px;
  height: 2em;
  margin: 0;
}

.invoice-data-div input {
  margin: .5em 0;
  border: 1px solid #c3d2e3;
  text-align: center;
  border-radius: 2.9px;
  margin: .2em 0;
}

.notesTerms-col {
  margin: 1em 0;
}

.notesTerms-col .normInput input {
  margin: .5em 0;
  border: 1px solid #c3d2e3;
  text-align: start;
  height: 3.5em;
  padding: 0 .4em;
  padding-bottom: 1.8em;
  border-radius: 2.9px;
  width: 100%;
}

.invoice-data-table .table-inputs input:hover,
.notesTerms-col .normInput input:hover,
.custom-col .customInputbutton input:hover,
.invoice-data-div input:hover {
  border: none;
  outline: .01em solid #668ab0;
}

.invoice-data-table .table-inputs input:focus,
.notesTerms-col .normInput input:focus,
.custom-col .customInputbutton input:focus,
.invoice-data-div input:focus {
  border: none;
  outline: .01em solid #668ab0;
}

.line-col button {
  margin: .3em 0;
  color: yellow;
  background-color: #0b3a6b;
  border: none;
  border-radius: 3px;
}

.line-col button:hover {
  color: rgb(232, 232, 21);
  background-color: #11457c;
}

.custom-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .2em 0;
  padding: 0;
}

.custom-col .customInput {
  width: 59%;
}


.custom-col .customInput input,
.notesTerms-col .customInput input,
.invoice-data .custom-input-div input,
.custom-input-col .custom-input-div input {
  width: 100%;
  padding: .1em .2em;
  margin-right: .2em;
  border: none;
  border-radius: 2px;
  height: 2em;
  color: rgb(73, 73, 75);
}

.custom-col .customInput input:hover,
.notesTerms-col .customInput input:hover,
.invoice-data .custom-input-div input:hover,
.custom-input-col .custom-input-div input:hover {
  border: 1px solid #c3d2e3;
}


.custom-col .customInput input:focus,
.notesTerms-col .customInput input:focus,
.invoice-data .custom-input-div input:focus,
.custom-input-col .custom-input-div input:focus {
  outline: 1px solid #c3d2e3;
  border: none;
}

.custom-col .customInputbutton {
  width: 39%;
  display: flex;
  justify-content: space-between;
}

.custom-col .customInputbutton input {
  width: 100%;
  height: 2.2em;
  padding: 0 .6em;
  margin: 0 .2em;
  border: 1px solid #c3d2e3;
  border-radius: 2px;
}

.custom-col .customInputbutton .customAmount {
  width: 100%;
  margin-right: 1.5em;
}

.distaxship-col span {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.custom-btn {
  display: flex;
  justify-content: end;
  margin: .3em 0;

}

.custom-btn button {
  font-weight: 600;
  background-color: transparent;
  border: none;
  margin: .3em 0;
  color: #0b3a6b;
  background-color: transparent;
}

.cancel-button {
  color: gray;
  border: none;
  background-color: transparent;
}

.cancel-button:hover {
  color: #0b3a6b;
}

h1 {
  font-size: 2.5em;
  font-weight: 400;
  color: rgb(54, 53, 53);
  letter-spacing: .01em;
  text-align: end;
}

.outer-content-colxs button,
.outer-content-col button {
  display: flex;
  margin: .5em 0;
  width: 60%;
  padding: .4em .01em;
  color: yellow;
  background-color: #0b3a6b;
  border: none;
  border-radius: 2.9px;
  justify-content: center;
  align-items: center;
}

.download-button {
  display: flex;
  width: 100%;
  padding: .1em .01em;
  color: yellow;
  background-color: #0b3a6b;
  border: none;
  border-radius: 2.9px;
  justify-content: center;
  align-items: center;
}

.outer-content-col button:hover,
.outer-content-colxs button:hover,
.download-button:hover {
  color: rgb(227, 227, 8);
  background-color: #11457c;
}

.outer-content-colxs label {
  font-weight: 600;
  text-align: center;
}

.outer-content-col label {
  text-align: start;
  margin-left: 10em;
  font-weight: 600;
}

.outer-content-col select,
.outer-content-colxs select {
  display: block;
  margin: .5em 0;
  width: 50%;
  height: 2.2em;
  text-align: start;
  border-radius: 2.9px;
  border: 1px solid #c3d2e3;

}

.outer-content-col select:hover {
  border: none;
  outline: 1px solid #c3d2e3;
}

.outer-content-col select:focus {
  border: none;
  outline: 1px solid #c3d2e3;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.invoice-footer {
  background-color: #113358;
  color: white;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin: 0 !important;
}

.login-form {
  margin-bottom: 20px;
}

label {
  color: #113358;
  font-weight: 600;
}

input {
  border: 1px solid #113358;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
}

.text-center {
  text-align: center;
}

.login-button {
  background-color: #ffc107;
  color: #113358;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

.signup-button {
  background-color: #113358;
  color: #ffc107;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

.signup-link {
  color: #113358;
  font-weight: 600;
  text-align: center;
}

.signup-link button {
  border: none;
  background-color: transparent;
}

.proceed-col {
  display: flex;
  justify-content: center;
}

.proceed-col button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.03em solid black;
  border-radius: 2.9px;
  color: white;
  background-color: #113358;
  transition: background-color 0.6s, color 0.3s;
}

.proceed-col button:hover {
  color: white;
  background-color: #074d99;
}

.record-signup-div {
  text-align: center;
  font-size: 2em;
}

.record-signup-div button {
  border: none;
  background-color: transparent;
  text-decoration: underline;
}

.record-signup-div button:hover {
  text-decoration: none;
}

.invoice-container {
  background-color: rgb(252, 249, 249);
  padding: 1em;
  border: 0.01em solid rgba(89, 130, 174, .5);
}

.return-col button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 2.1px;
  background-color: transparent;
  transition: background-color 0.3s;
  margin: 1.5em 0.5em;
}

.return-col button:hover {
  background-color: rgba(145, 144, 144, .4);
}

.authenticate-col-btn button {
  background-color: transparent;
  border: none;
  color: white;
}

.invoice-container {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header-row {
  margin: 2em 0;
}

.logo-col img {
  width: 5em;
  height: 5em;
}

.sender-info,
.bill-to-info,
.address-info,
.po-info {
  margin-top: 10px;
}

.dotted-line {
  border-top: 1px dashed #000;
  margin: 2em 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.message-col div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffc107;
  padding: 0 2em;
  border-radius: 1em;
  color: #000;
}

.message-col div button {
  color: red;
  border: none;
  background-color: transparent;
}